<input
  #fileInput
  (change)="selectFile(fileInput.files)"
  accept="text/csv"
  class="d-none"
  type="file"
/>

<div class="h5 text-muted d-flex align-items-center">
  <ng-container *ngIf="file; else selectFileTemplate">
    <span class="mr-3">Selected file: {{ file.name }}</span>

    <button (click)="uploadClick.emit()" color="primary" mat-flat-button>
      Upload
    </button>
    <button (click)="removeFile()" color="warn" mat-flat-button>Delete</button>
  </ng-container>
</div>

<ng-template #selectFileTemplate>
  <span class="mr-3">Select file to upload</span>
  <button (click)="fileInput.click()" color="accent" mat-flat-button>
    Select file
  </button>
</ng-template>

<form>
  <div>
    <label>Название</label>
    <input type="text" required name="title"  [(ngModel)]="productForm.title"/>
  </div>
  <div>
    <label>Описание</label>
    <input type="text" required name="description" [(ngModel)]="productForm.description"/>
  </div>
  <div>
    <label>Цена</label>
    <input type="number" required name="price" [(ngModel)]="productForm.price" />
  </div>
  <div>
    <label>Количество</label>
    <input type="number" required name="count" [(ngModel)]="productForm.count"/>
  </div>

  <button (click)="create()">создать</button>
</form>
